* {
	box-sizing: border-box;
}

/* Set a background color */
body {
	background-color: #f5f5f5;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0 auto;
	font-size: 1rem;
	line-height: 1.6rem;
}

/**umb_name:Small text*/
.gray-text {
	font-size: 22px;
	font-weight: 300;
	line-height: 28px;
	color: #444444;
}

/**umb_name:Blue text*/
.blue-text {
	font-size: 36px;
    font-weight: 300;
    line-height: 42px;
    color: #004785;
}

/**umb_name:Bold blue text*/
.bold-blue-text {
	font-size: 36px;
	font-weight: 600;
	color: #004785;
}

/**umb_name:h2 black*/
h2 {
	font-size: 24px;
	margin-top: 0px;
	margin-bottom: 10px;
	font-weight: 600;
}
.minus-margin-text {
    margin-top: -20px;
}
.mb-16 {
	margin-bottom: 16px;
}
.mt-0 {
	margin-top: 0;
}

.content h2 {
	font-size: 24px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.content img {
	width: 100%;
    border-radius: 0;
    margin-bottom: 20px
;
}
.main-title {
	font-size: 2rem;
	font-weight: 600;
	/* color: #3544b1; */
	color: #0456ad;
	margin-bottom: 0;
}

.logo img {
	height: 100px;
	width: 100.95px;
	display: block;
	margin: 0 auto;
	margin-top: 1rem;
}

/* header styles */
.main-header {
	min-height: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	line-height: 2.2rem;
	background-color: #fff;
	color: #212529;
	/* margin-bottom: 5vh; */
}

/* Navigation Styles */
.navbar {
	margin: 0;
	margin-bottom: 20vh;
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: space-around;
	/* background-color: #122b45; */
	min-height: 5vh;
	list-style-type: none;
	font-size: 1.2rem;
}

.navbar a {
	text-decoration: none;
	color: #0456ad;
	margin-right: 2vw;
}

.navbar a:hover {
	text-decoration: underline;
}

.navbar li {
	padding: 10px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
	position: relative;
	max-width: 1200px;
	margin: 100px auto;
	/* padding: 100px 0; */
}


main {
	padding-top: 5rem;
}
/* The actual timeline (the vertical ruler) */
.timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	background-color: white;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
	margin-top: -5vh;
	margin-bottom: -5vh;
	border-radius: 20px;
	z-index: -1;
}

/* Container around content */
.t-container {
	padding: 0px 40px 10px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
	margin-bottom: 5vh;
}
/* The circles on the timeline */
.t-container::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: white;
	border: 4px solid #0456ad;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
	/* animation-name: fadeIn;
	animation-duration: s; */
}

/* @keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	} 
}*/

/* Place the container to the left */
.left {
	left: 0;
}

/* Place the container to the right */
.right {
	left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid white;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
	left: -16px;
}

/* The actual content */
.content {
	padding: 20px;
	background-color: white;
	position: relative;
	/* border-radius: 6px; */
}

.content img {
	width: 100%;
	border-radius: inherit;
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
	/* Place the timelime to the left */
	.timeline::after {
		/* left: 31px; */
		display: none;
	}

	/* Full-width containers */
	.t-container {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}

	/* Make sure that all arrows are pointing leftwards */
	.t-container::before {
		/* left: 60px;
		border: medium solid white;
		border-width: 10px 10px 10px 0;
		border-color: transparent white transparent transparent; */
		display: none;
	}

	/* Make sure all circles are at the same spot */
	.left::after,
	.right::after {
		left: 23.5px;
		top: 24.5px;
	}
	
	/*Make circles smaller and aligned on mobile */
	.t-container::after {
	    /*width: 15px;
	    height: 15px; */
	    display: none;
	}

	/* Make all right containers behave like the left ones */
	.right {
		left: 0%;
	}
	
	
}

#toTopBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: #122b45;
	color: white;
	cursor: pointer;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.4rem;
	padding-bottom: 0.7rem;
	border-radius: 50%;
	font-size: 1.5rem;
	font-weight: 600;
}

#toTopBtn:hover {
	background-color: #555;
}